@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

#button-menu {
    background: none;
    border: none;
}

#button-menu img {
    width: 6vw;
    margin: 1px
}

html {
    font-size: 16px;
    font-family: 'Montserrat';
}

#nav-mobile {
    z-index: 2;
}

.mobile-menu {
    height: 0px;
}

#dropdown-button {
    width: 5px;
}

#title {
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.banner-text {
    font-family: 'arial';
    font-weight: bold;
    color: white;
    width: 90vw;
    font-size: 3em;
}

.banner-text-min {
    font-weight: lighter;
    color: white;
    width: 90vw;
    font-size: 1.1em;
}

.box-text {
    padding: 5%;
    width: 90%;
}

ul {
    list-style: none;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.1em;
}

li {
    padding: 10px;
}

.menu {
    margin-top: 1%;
}

#banner {
    width: 100%;
    height: 77vh;
    background: url(assets/laranja\ azul\ recorte@2x.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /*! padding: 50px; */
    padding: 20px 50px 50px 50px;
}

#gallery img {
    margin-top: 10%;
}

.social-media {
    background: #7FDBD4;
    height: 6vh;
    width: 88%;
    margin: -8px 0px 14px 21px;
    display: flex;
    justify-content: space-around;
}

.social-media img {
    padding: 3%;
}

.footer-text-box {
    padding: 14%;
    /*! width: 100%; */
    font-size: 0.9em;
}

.footer-text-box h3 {
    font-weight: bold;
    font-size: 1.3em;
}

#footer-button {
    background: #333333;
    color: #CCCCCC;
    width: 20vw;
    border: none;
    padding: 5px;
    position: absolute;
    top: 73%;
    left: 50%;
}

@media (min-width: 576px) {}

// Dispositivos médios (tablets com 768px ou mais)
@media (min-width: 768px) {
    ...
}

// Dispositivos large (desktops com 992px ou mais)
@media (min-width: 992px) {
    ...
}

@media (min-width: 1200px) {
    .mobile-menu{
        display: none;
    }
    ul{
        display: flex;
    }
    #title {
        margin-top: 2%;
        align-items: baseline;
        font-size: 1.4em;
        font-weight: bold;
        width: 100%;
        text-align: left;
    }
    #banner {
        width: 100%;
        height: 64vh;
        background: url(assets/laranja\ azul\ recorte.png);
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
    #gallery img {
        margin-top: 1%;
        
    }
    .social-media {
        background: none;
        height: 12vh;
        width: 70%;
        margin: -8px 0px 14px 21px; 
    }
    
    .social-media img {
        padding: 2%;
    }
    
    .footer-text-box {
        padding: 14%;
        /*! width: 100%; */
        font-size: 0.9em;
    }
    
    .footer-text-box h3 {
        font-weight: bold;
        font-size: 1.3em;
    }
    
    #footer-button {
        background: #333333;
        color: #CCCCCC;
        width: 20vw;
        border: none;
        padding: 5px;
        position: absolute;
        top: 73%;
        left: 50%;
    }


}